body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}


#title {
  font-size: 4.5em;
  font-weight: 300;
}

#subtitle {
  font-size: 1em;
}

#examples-title {
  padding: 2em;
}

#div-colorifyText {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

#div-background-behind {
  height: 300px;
  background-image: url(../images/caracas-bw.JPG);
  background-size: cover;
}

.example-div {
  width: 100%;
  height: 300px;
}

#bottom-notice {
  text-align: center;
  font-weight: 300;
}

#download-button {
  border: none;
  height: 50px;
  font-size: 2em;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  #title {
    font-size: 6em;
  }

  #subtitle {
    font-size: 1.5em;
  }

  .examples {
    padding: 2em 2em 2em 5em;
  }
}
